
<div class="contact-header">
    <h1>お問い合わせ</h1>
  <%= form_for @contact,url:contacts_permit_path do |f| %></div>





<% if @contact.errors.any? %>
<div id="error_explanation" class="alert-danger">
      <h2><%= @contact.errors.count %>件のエラー</h2>

      <ul>
        <!-- ここでeachメソッドを用いて、エラーメッセージを表示させてください。 -->
       <%  @contact.errors.full_messages.each do |message| %>
       <li class="errors"><%= message %></li>
       <% end %>
      </ul>
    </div>
 <% end %>






<div class="input-group">
	<span class="input-group-addon">ユーザー名</span>
	<input type="text" class="form-control" placeholder="太郎">
  <%= f.text_field :name %>
</div>

<div class="input-group">
	<span class="input-group-addon">  フリガナ  </span>
	<input type="text" class="form-control" placeholder="タロウ">
  <%= f.text_field :name2 %>
</div>

<div class="input-group">
	<span class="input-group-addon">email</span>
	<input type="text" class="form-control" placeholder="@example.com">
  <%= f.text_field :addres %>
</div>

<div class="input-group">
	<span class="input-group-addon">内容</span>
	<input type="text" class="form-control" placeholder="例:こんにちは">
  <%= f.text_field :content %>
</div>
<button type="button" class="btn btn-default" aria-label="Left Align"><span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span><%= f.submit "送信" %></button>
<p class="send-message"><%= notice %></p>


<footer>
  <div class="footer-link"><%= link_to "Top", root_path %></div>
</footer>
<% end %>