
<div class="contact-header">
    <h1>お問い合わせ</h1>
  <%= form_for @contact,url:contacts_permit_path do |f| %></div>





<% if @contact.errors.any? %>
<div id="error_explanation" class="alert-danger">
  
  <button class="btn btn-primary" type="button">
  Messages <span class="badge"><%= @contact.errors.count %>件のエラー</span>
  
  
      <h2></h2>

      <ul>
        <!-- ここでeachメソッドを用いて、エラーメッセージを表示させてください。 -->
       <%  @contact.errors.full_messages.each do |message| %>
       <li class="errors">
        <p class="text-left"> <%= message %></p> 
         
         
        
        
        </li>
       <% end %>
      </ul>
    </div>
 <% end %>


  
  
  
  
  




<div class="input-group">
	<span class="input-group-addon">ユーザー名</span>
  <%= f.text_field :name,class:"form-control" %>
</div>

<div class="input-group">
	<span class="input-group-addon">  フリガナ  </span>
  <%= f.text_field :name2,class:"form-control" %>
</div>

<div class="input-group">
	<span class="input-group-addon">email</span>
	
  <%= f.text_field :addres,class:"form-control" %>
</div>

<div class="input-group">
	<span class="input-group-addon">内容</span>
  <%= f.text_area :content,class:"form-control" %>
</div>
<button type="button" class="btn btn-default" aria-label="Left Align"><span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span><%= f.submit "送信" %></button>
<p class="send-message"><%= notice %></p>


<footer>
  <div class="footer-link"><%= link_to "Top", root_path %></div>
</footer>
<% end %>